<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>Heatmaps</title>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
    <script src="js/angular-bootstrap.js"></script>
    <script src="js/ng-map.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.js"></script>
    <script src="js/wNumb.js"></script>
    <script>
        var app = angular.module('myapp', ['ngMap', 'ngResource']);
        angular.module('myapp').factory('Citation', function ($resource) {
            return $resource('/citation');
        });
        var citationData = [];

    </script>
</head>

<body>
<style>
    div[ng-controller=LayerHeatmapCtrl] {
        position: relative;
    }
</style>
<div ng-controller="LayerHeatmapCtrl as vm">
    <ng-map zoom="13" center="39.290385, -76.612189">
        <heatmap-layer id="heatmap" data="citationData"></heatmap>
    </ng-map>
    <div id="slider-date" class="noUi-target noUi-ltr noUi-horizontal noUi-background"></div>
    <span id="event-time"></span>

    <div ng-controller="FilterCtrl" style="width: 100%; overflow: hidden;">
        <div style="width: 70%; float: left;">
            <div style="width: 50%; float: left;">
                Filter By Car Manufacturer <br/>
               <span ng-repeat="car in cars">
                    <label class="checkbox" for="{{car.id}}">
                        <input type="checkbox" ng-model="selection.cars[car.id]"
                               name="carsInput" id="{{car.id}}" ng-click="updateSelection($event, car.id)"/>
                        {{car.name}}
                    </label>
                   <br/>
                </span>
            </div>

            <div style="width: 50%; float: right;">
                Filter By Ticket Type <br/>
               <span ng-repeat="violation in violations">
                    <label class="checkbox" for="{{violation.id}}">
                        <input type="checkbox" ng-model="selection.violations[violation.id]" name="violationsInput"
                               id="{{violation.id}}" ng-click="updateSelection($event, violation.id)"/>
                        {{violation.name}}
                    </label>
                   <br/>
                </span>
            </div>
        </div>
        <div ng-controller="StatsCtrl" style="width: 30%; float: left;"> Citation Stats
            <div>Violations by Make:
                <ul>
                    <li ng-repeat="x in cars">
                        {{ x }}
                    </li>
                </ul>
                Citation Winner:
            </div>
        </div>
    </div>

</div>
<script src="js/heat-map-controller.js"></script>
<script src="js/stats-controller.js"></script>
<script src="js/filter-controller.js"></script>

</body>
</html>